{% extends "lkl/base.html" %}
{% load staticfiles %}

{% block header_title  %}
    <title>金控个人中心</title>
{% endblock %}

{% block container  %}


<div class="weui-grids">
    <a href="{% url 'jk_user_info' %}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="{% static "/lkl/icon/xinxi.png" %}" alt="">
        </div>
        <p class="weui-grid__label">
            我的信息
        </p>
    </a>
    <a href="{% url 'jk_pos_list' %}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="{% static "/lkl/icon/pos.png" %}" alt="">
        </div>
        <p class="weui-grid__label">
            我的终端
        </p>
    </a>
    <a href="{% url 'jk_friend_list' %}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="{% static "/lkl/icon/haoyou.png" %}" alt="">
        </div>
        <p class="weui-grid__label">
            我的朋友
        </p>
    </a>
    <a href="{% url 'bind_wx_page' %}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="{% static "/lkl/icon/wx.jpg" %}" alt="">
        </div>
        <p class="weui-grid__label">
            绑定微信
        </p>
    </a>
    <a href="{% url 'jk_merchant_prov' %}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="{% static "/lkl/icon/dizhi.png" %}" alt="">
        </div>
        <p class="weui-grid__label">
            归属地
        </p>
    </a>
    <a href="{% url 'user_logout' %}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="{% static "/lkl/icon/tuichu.jpg" %}" alt="">
        </div>
        <p class="weui-grid__label">
            退出
        </p>
    </a>
</div>

</div>
{% endblock %}

{% block footer_js_extra %}

{% endblock %}
