{% extends "lkl/base.html" %} {% load staticfiles %}


{% block container %}

<div class="weui-topbar">
    <h1 class="weui-topbar-title">归属地</h1>
    <a href="{% url 'jk_home' %}"  class="weui-topbar-back"><i><svg class="icon" aria-hidden="true"><use xlink:href="#icon-zuojiantou"></use></svg></i></a>
</div>

<div class="bd mt40 mb40">

    <div class="weui-cells">
    {% for merchant in merchants %}

        <div class="weui-cell">
          <div class="weui-cell__bd">
            {{merchant.merchant_name}}
          </div>
          <div class="weui-cell__bd">
            {{merchant.prov}}
          </div>
          <div class="weui-cell__bd">
            <a href="{% url 'jk_change_merchant_prov' %}?merchant={{merchant_code}}">改归属地</a>
          </div>

        </div>

    {% endfor %}
    </div>

</div>

{% endblock %}

{% block footer_js_extra %}


{% endblock %}