{% extends "lkl/base.html" %}
{% load staticfiles %}

{% block header_title  %}
    <title>我的页面</title>
{% endblock %}

{% block container  %}


<div class="weui-grids">
    <a href="/user/" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="http://m.shensuantang.com/Public/sstm/imagesm/mh/dianhua.png" alt="">
        </div>
        <p class="weui-grid__label">
            我的信息
        </p>
    </a>
    <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="http://m.shensuantang.com/Public/sstm/imagesm/mh/gongsi.png" alt="">
        </div>
        <p class="weui-grid__label">
            生活笔记
        </p>
    </a>
    <a href="javascript:;" class="weui-grid js_grid" id="invite_code">
        <div class="weui-grid__icon">
            <img src="http://m.shensuantang.com/Public/sstm/imagesm/mh/dianhua.png" alt="">
        </div>
        <p class="weui-grid__label">
            邀请码
        </p>
    </a>
    <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="http://m.shensuantang.com/Public/sstm/imagesm/mh/biming.png" alt="">
        </div>
        <p class="weui-grid__label">
            我的地址
        </p>
    </a>
    <a href="{% url 'search_terminal' %}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="http://m.shensuantang.com/Public/sstm/imagesm/mh/gongsi.png" alt="">
        </div>
        <p class="weui-grid__label">
            查询
        </p>
    </a>
    <a href="{% url 'friend_list' %}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="http://m.shensuantang.com/Public/sstm/imagesm/mh/gongsi.png" alt="">
        </div>
        <p class="weui-grid__label">
            我的朋友
        </p>
    </a>
    <a href="{% url 'pos_list' %}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="http://m.shensuantang.com/Public/sstm/imagesm/mh/gongsi.png" alt="">
        </div>
        <p class="weui-grid__label">
            我的终端
        </p>
    </a>
    <a href="javascript:;" class="weui-grid js_grid" id="bind_pos">
        <div class="weui-grid__icon">
            <img src="http://m.shensuantang.com/Public/sstm/imagesm/mh/gongsi.png" alt="">
        </div>
        <p class="weui-grid__label">
            绑定
        </p>
    </a>
    <a href="{% url 'user_logout' %}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="http://m.shensuantang.com/Public/sstm/imagesm/mh/gongsi.png" alt="">
        </div>
        <p class="weui-grid__label">
            退出
        </p>
    </a>
</div>

</div>
{% endblock %}

{% block footer_js_extra %}
<script>
    $(document).on("click", "#invite_code", function() {
        $.toptip('您的邀请码是...', 'success');
        $.alert("您的邀请码是{{request.user.userprofile.code}}", "邀请码");
    });
    $(document).on("click", "#bind_pos", function() {
        $.confirm("请务必填写自己的终端号，后续会严格校验。如果恶意绑定，后果自负！", "警告",
        function() {
            $(location).attr('href', '{% url "bind_pos" %}');
        },
        function() {
            $.toast("我从未见过有如此厚颜无耻之人！", "text");
        },
        );
    });
</script>
{% endblock %}
