{% extends "lkl/base.html" %}
{% load staticfiles %}

{% block header_title  %}
    <title>个人中心</title>
{% endblock %}

{% block container  %}


<div class="weui-grids">
    <a href="{% url 'user_info' %}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="{% static "/lkl/icon/xinxi.png" %}" alt="">
        </div>
        <p class="weui-grid__label">
            我的信息
        </p>
    </a>
    <a href="{% url 'tixian_list' %}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="{% static "/lkl/icon/biji.png" %}" alt="">
        </div>
        <p class="weui-grid__label">
            提现记录
        </p>
    </a>
    <a href="javascript:;" class="weui-grid js_grid" id="invite_code">
        <div class="weui-grid__icon">
            <img src="{% static "/lkl/icon/dianhua.png" %}" alt="">
        </div>
        <p class="weui-grid__label">
            邀请码
        </p>
    </a>
    <a href="{% url 'bind_wx_page' %}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="{% static "/lkl/icon/wx.jpg" %}" alt="">
        </div>
        <p class="weui-grid__label">
            绑定微信
        </p>
    </a>
    <a href="{% url 'xyf_home' %}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="{% static "/lkl/icon/sosuo.jpg" %}" alt="">
        </div>
        <p class="weui-grid__label">
            星星
        </p>
    </a>
    <a href="{% url 'friend_list' %}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="{% static "/lkl/icon/haoyou.png" %}" alt="">
        </div>
        <p class="weui-grid__label">
            我的朋友
        </p>
    </a>
    <a href="{% url 'pos_list' %}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="{% static "/lkl/icon/pos.png" %}" alt="">
        </div>
        <p class="weui-grid__label">
            我的终端
        </p>
    </a>
    <a href="javascript:;" class="weui-grid js_grid" id="bind_pos">
        <div class="weui-grid__icon">
            <img src="{% static "/lkl/icon/gongsi.png" %}" alt="">
        </div>
        <p class="weui-grid__label">
            绑定
        </p>
    </a>
    <a href="{% url 'user_logout' %}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="{% static "/lkl/icon/tuichu.jpg" %}" alt="">
        </div>
        <p class="weui-grid__label">
            退出
        </p>
    </a>
</div>

</div>
{% endblock %}

{% block footer_js_extra %}
<script src="{% static "/lkl/js/clipboard.min.js" %}"></script>
<script>
    var clipboard = new Clipboard('#invite_code', {
        text: function() {
            return '{{request.user.userprofile.code}}';
        }
    });
    $("#invite_code").on("click",function() {
        $.alert("您的邀请码是{{request.user.userprofile.code}}", "已复制邀请码");
    });
    $("#bind_pos").on("click", function() {
        $.confirm("请务必填写自己的终端号，后续会严格校验。如果恶意绑定，后果自负！", "警告",
        function() {
            $(location).attr('href', '{% url "bind_pos" %}');
        }
        );
    });
</script>
{% endblock %}
