{% extends "lkl/base.html" %}
{% load staticfiles %}

{% block header_title  %}
    <title>用户页</title>
{% endblock %}

{% block container  %}
<div class="weui-topbar">
    <h1 class="weui-topbar-title">用户页</h1>
    <a href="/user/"  class="weui-topbar-back"><i class="iconfont icon-xiangzuo"></i></a>
</div>


<div>
    Account Page
    <a href="{% url 'user_logout' %}">退出</a>
</div>

<div class="weui-grids">
    <a href="/user/" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="http://m.shensuantang.com/Public/sstm/imagesm/mh/dianhua.png" alt="">
        </div>
        <p class="weui-grid__label">
            我的信息
        </p>
    </a>
    <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="http://m.shensuantang.com/Public/sstm/imagesm/mh/gongsi.png" alt="">
        </div>
        <p class="weui-grid__label">
            绑定机器
        </p>
    </a>
    <a href="javascript:;" class="weui-grid js_grid" id="invite_code">
        <div class="weui-grid__icon">
            <img src="http://m.shensuantang.com/Public/sstm/imagesm/mh/dianhua.png" alt="">
        </div>
        <p class="weui-grid__label">
            我的邀请码
        </p>
    </a>
    <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="http://m.shensuantang.com/Public/sstm/imagesm/mh/biming.png" alt="">
        </div>
        <p class="weui-grid__label">
            我的地址
        </p>
    </a>
    <a href="{% url 'search_terminal' %}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="http://m.shensuantang.com/Public/sstm/imagesm/mh/gongsi.png" alt="">
        </div>
        <p class="weui-grid__label">
            业绩查询
        </p>
    </a>
    <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="http://m.shensuantang.com/Public/sstm/imagesm/mh/gongsi.png" alt="">
        </div>
        <p class="weui-grid__label">
             联系我们
        </p>
    </a>
</div>
{% endblock %}

{% block footer_js_extra %}
<script>
    $(document).on("click", "#invite_code", function() {
        $.alert("您的邀请码是{{request.user.userprofile.code}}！", "邀请码");
    });
</script>
{% endblock %}
