{% extends "lkl/base.html" %} {% load staticfiles %}

{% block header_title  %}
    <title>我的朋友</title>
{% endblock %}

{% block container %}

<div class="weui-topbar">
    <h1 class="weui-topbar-title">我的朋友</h1>
    <a href="{% url 'user_account' %}"  class="weui-topbar-back"><i><svg class="icon" aria-hidden="true"><use xlink:href="#icon-zuojiantou"></use></svg></i></a>
</div>

<div class="bd mt40 ">

    <div class="weui-cells">
        <div class="weui-cell">
          <div class="weui-cell__bd">
            姓名
          </div>
          <div class="weui-cell__bd">
            注册时间
          </div>
        </div>
    {% for obj in objs.all %}

        <div class="weui-cell">
          <div class="weui-cell__bd">
            {{obj.name}}
          </div>
          <div class="weui-cell__bd">
            {{obj.create_time}}
          </div>
        </div>

    {% endfor %}
    </div>

</div>


{% endblock %}

{% block footer_js_extra %}


{% endblock %}