{% extends "lkl/base.html" %}
{% load staticfiles %}

{% block header_title %}
<title>首页</title>
{% endblock %}


{% block container  %}
<h3>
尊敬的贵宾
{% if request.user.is_authenticated %}
    {% if request.user.userprofile %}
    {{ request.user.userprofile.name }}
    {% else %}
    {{ request.user.username }}
    {% endif %}
{% endif %}
您好！
</h3>


<article class="weui-article">
    <h1>顺势而为 乘势而上</h1>
    <section>
        <h2 class="title">关于我们</h2>
        <section>
            <h3>1. 标题一</h3>
            <p>
                内容内容内容
                内容内容内容
                内容内容内容
            </p>
        </section>
        <section>
            <h3>2. 标题二</h3>
            <p>
                内容内容内容
                内容内容内容
                内容内容内容
            </p>
            <p>
                内容内容内容
                内容内容内容
                内容内容内容
            </p>
        </section>
    </section>
</article>



{% endblock %}
