<!--底部固定导航 开始-->
<div class="weui-tabbar">
    <a href="/user/" class="weui-tabbar__item ">
        <div class="weui-tabbar__icon"> <i class="iconfont icon-home"></i> </div>
        <p class="weui-tabbar__label">首 页</p>
    </a>
    <a href="/user/news/" class="weui-tabbar__item ">
        <div class="weui-tabbar__icon"> <i class="iconfont icon-liebiao"></i> </div>
        <p class="weui-tabbar__label">资 讯</p>
    </a>

    <a href="/user/account/" class="weui-tabbar__item ">
        <div class="weui-tabbar__icon"> <i class="iconfont icon-user1"></i> </div>
        <p class="weui-tabbar__label">我 的</p>
    </a>
</div>
<!--底部固定导航 结束-->