{% extends "lkl/base.html" %} {% load staticfiles %}


{% block container %}

<div class="weui-topbar">
    <h1 class="weui-topbar-title">终端明细</h1>
    <a href="{% url 'pos_list' %}"  class="weui-topbar-back"><i><svg class="icon" aria-hidden="true"><use xlink:href="#icon-zuojiantou"></use></svg></i></a>
</div>

<div class="bd mt40 mb40">

    <div class="weui-cells">
    {% for item in detail %}

        <div class="weui-cell">
          <div class="weui-cell__bd">
            刷：{{ item.draw_rmb}}
          </div>
          <div class="weui-cell__bd">
            费：{{ item.fee_rmb}}
          </div>
          <div class="weui-cell__bd">
            {{ item.pay_date|slice:":10" }}
          </div>
        </div>

    {% endfor %}
    </div>

</div>

{% endblock %}

{% block footer_js_extra %}


{% endblock %}