{% extends "lkl/base.html" %} {% load staticfiles %}

{% block header_title  %}
    <title>终端查询</title>
{% endblock %}

{% block container %}

<div class="weui-search-bar" id="searchBar">
    <form class="weui-search-bar__form" method="post" action="{% url 'search_terminal' %}">
    {% csrf_token %}
        <div class="weui-search-bar__box">
            <i class="weui-icon-search"></i>
            <input type="search" class="weui-search-bar__input" id="searchInput" name="q" placeholder="搜索" required="" value="{% if request.POST.q %} {{request.POST.q}}{% else %}CBC3A3B21134{%endif%}">
            <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
        </div>
        <label class="weui-search-bar__label" id="searchText">
            <i class="weui-icon-search"></i>
            <span>搜索</span>
        </label>
    </form>
    <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
</div>

{% if request.POST.q %}
<div class="weui-cells__title">终端号：{{request.POST.q}}</div>

<div class="weui-cells">
<div class="weui-cell">
      <div class="weui-cell__bd">
        月份
      </div>
      <div class="weui-cell__bd">
        交易金额
      </div>
      <div class="weui-cell__bd">
        手续费
      </div>
    </div>
{% for d in trade %}

    <div class="weui-cell">
      <div class="weui-cell__bd">
        {{d.0}}
      </div>
      <div class="weui-cell__bd">
        {{d.1}}
      </div>
      <div class="weui-cell__bd">
        {{d.2}}
      </div>
    </div>

{% endfor %}
</div>

{% endif %}

{% endblock %}

{% block footer_js_extra %}


{% endblock %}