{% extends "lkl/base.html" %} {% load staticfiles %}

{% block header_title  %}
    <title>我的信息</title>
{% endblock %}

{% block container %}

<div class="weui-topbar">
    <h1 class="weui-topbar-title">
        {{ request.user.userprofile.name }}
    </h1>
    <a href="{% url 'user_account' %}"  class="weui-topbar-back"><i><svg class="icon" aria-hidden="true"><use xlink:href="#icon-zuojiantou"></use></svg></i></a>
</div>

<div class="bd mt40 mb40">

<div class="weui-form-preview">
    <div class="weui-form-preview__hd">
        <label class="weui-form-preview__label">手机号</label>
        <em class="weui-form-preview__value">
        {{ request.user.userprofile.phone }}
        </em>
    </div>
    {% if fenrun %}
    <div class="weui-form-preview__hd">
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">分润点数</label>
            <span class="weui-form-preview__value">{{ fenrun.point}}</span>
        </div>
        {% if fenrun.rmb > 0 %}
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">秒到点数</label>
            <span class="weui-form-preview__value">{{ fenrun.rmb }}</span>
        </div>
        {% endif %}
    </div>
    {% else %}
    <div class="weui-form-preview__bd">
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">联系客服添加分润</label>
            <span class="weui-form-preview__value">微信：45367076</span>
        </div>
    </div>
    {% endif %}
    <div class="weui-form-preview__hd">
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">刷卡总额</label>
            <span class="weui-form-preview__value">{{ d1_total }}</span>
        </div>
        {% if fenrun.rmb > 0 %}
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">秒到笔数</label>
            <span class="weui-form-preview__value">{{ d0_num }}</span>
        </div>
        {% endif %}
    </div>
    <div class="weui-form-preview__ft">
    <span class="weui-form-preview__btn weui-form-preview__btn_default">数据从2018年2月1日开始统计，累积到三天前的交易。</span>

    </div>
</div>
<br/>
<div class="weui-form-preview">
    <div class="weui-form-preview__hd">
        <label class="weui-form-preview__label">刷卡返利余额</label>
        <span class="weui-form-preview__value">
            {{ rmb }}
        </span>
        {% if 0 %}
        <label class="weui-form-preview__label">推荐奖励余额</label>
        <span class="weui-form-preview__value">
            {{ child_rmb }}
        </span>
        {% endif %}
    </div>
    {% if alipay %}
    <div class="weui-form-preview__hd">
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">支付宝账户</label>
            <span class="weui-form-preview__value">{{ alipay.account }}</span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">支付宝实名</label>
            <span class="weui-form-preview__value">{{ alipay.name }}</span>
        </div>
    </div>
    {% else %}
    <div class="weui-form-preview__ft">
        <a type="button" class="weui-form-preview__btn weui-form-preview__btn_primary" href="/user/alipay/">绑定支付宝</a>
    </div>
    {% endif %}
    {% if alipay %}
    <div class="weui-form-preview__ft">
        <button id="tixian_rmb" type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">返利余额提现</button>
        {% if 0 %}
        <button id="tixian_child_rmb" type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">推荐余额提现</button>
        {% endif %}
    </div>
    {% endif %}
</div>

</div>

{% endblock %}

{% block footer_js_extra %}
<script>
    $("#tixian_rmb").click(function() {
        var rmb = {{ rmb }};
        if (rmb < 100) {
            $.toptip("满100才能提现，加油！");
        }
        else {
            $.toptip('功能实现中，请耐心等待');
        }
    });
    $("#tixian_child_rmb").click(function() {
        $.toptip('功能实现中，请耐心等待');
    });
</script>

{% endblock %}