{% extends "lkl/base.html" %} {% load staticfiles %}


{% block container %}

<div class="weui-topbar">
    <h1 class="weui-topbar-title">
        {{ request.user.userprofile.name }}
    </h1>
    <a href="{% url 'user_account' %}"  class="weui-topbar-back"><i><svg class="icon" aria-hidden="true"><use xlink:href="#icon-zuojiantou"></use></svg></i></a>
</div>

<div class="bd mt40 mb40">

<div class="weui-form-preview">
    <div class="weui-form-preview__bd">
        <label class="weui-form-preview__label">手机号</label>
        <span class="weui-form-preview__value">
        {{ request.user.userprofile.phone }}
        </span>
    </div>
    {% if fenrun %}
    <div class="weui-form-preview__bd">
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">分润点数</label>
            <span class="weui-form-preview__value">{{ fenrun.point}}</span>
        </div>
        {% if fenrun.rmb > 0 %}
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">秒到点数</label>
            <span class="weui-form-preview__value">{{ fenrun.rmb }}</span>
        </div>
        {% endif %}
    </div>
    {% else %}
    <div class="weui-form-preview__bd">
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">联系客服添加分润</label>
            <span class="weui-form-preview__value">微信：45367076</span>
        </div>
    </div>
    {% endif %}
    <div class="weui-form-preview__bd">
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">刷卡总额</label>
            <span class="weui-form-preview__value">{{ d1_total }}</span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">未结算金额</label>
            <span class="weui-form-preview__value">{{ d1_freeze_total }}</span>
        </div>
        {% if fenrun.rmb > 0 %}
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">秒到总笔数</label>
            <span class="weui-form-preview__value">{{ d0_num }}</span>
        </div>
            {% if  0 %}
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">未结算笔数</label>
                    <span class="weui-form-preview__value">{{ d0_freeze_num }}</span>
                </div>
            {% endif %}
        {% endif %}

    </div>
    <div class="weui-form-preview__ft">
    <span class="weui-form-preview__btn weui-form-preview__btn_default fc-red">分润结算：2018年2月1日起至三天前。</span>

    </div>
</div>
<br/>
<div class="weui-form-preview">
    <div class="weui-form-preview__bd">
        <label class="weui-form-preview__label">返利余额</label>
        <span class="weui-form-preview__value">
            {{ rmb }}
        </span>

        <label class="weui-form-preview__label">推荐余额</label>
        <span class="weui-form-preview__value">
            {{ child_rmb }}
        </span>

    </div>
    {% if alipay %}
    <div class="weui-form-preview__bd">
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">支付宝账户</label>
            <span class="weui-form-preview__value">{{ alipay.account }}</span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">支付宝实名</label>
            <span class="weui-form-preview__value">{{ alipay.name }}</span>
        </div>
    </div>
    <div class="weui-form-preview__bd">
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">提现中金额</label>
            <span class="weui-form-preview__value">{{ txz_rmb }}</span>
        </div>
    </div>
    {% else %}
    <div class="weui-form-preview__ft">
        <a type="button" class="weui-form-preview__btn weui-form-preview__btn_primary" href="/user/alipay/">绑定支付宝</a>
    </div>
    {% endif %}
    {% if alipay %}
    <div class="weui-form-preview__ft">
        <button id="tixian_rmb" type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">返利余额提现</button>

        <button id="tixian_child_rmb" type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">推荐余额提现</button>

    </div>
    {% endif %}
</div>
<br>
<br>
</div>

{% endblock %}

{% block footer_js_extra %}
<script>
    $("#tixian_rmb").click(function() {
        var rmb = {{ rmb }};
        if (rmb < 100) {
            $.toptip("满100才能提现，加油！");
        }
        else {
            $(location).attr('href', '{% url "tixian_rmb" %}');
        }
    });

    $("#tixian_child_rmb").click(function() {
        var rmb = {{ child_rmb }};
        if (rmb < 100) {
            $.toptip("满100才能提现，加油！");
        }
        else {
            $(location).attr('href', '{% url "tixian_child_rmb" %}');
        }
    });
</script>

{% endblock %}