worker_processes 4;

error_log  /var/log/nginx/error.log notice;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}


http {
    include       mime.types;
    default_type  application/octet-stream;
    log_not_found on;

    log_format  main  '$time_local | $host | $status | $request_length | $bytes_sent | $upstream_addr | $upstream_response_time | '
                      '$http_referer | $remote_addr | $remote_user | $request | '
                      '$http_user_agent | $http_x_forwarded_for | $cookie_Mac';


    access_log  /var/log/nginx/access.log main;

    sendfile        on;
    tcp_nopush     on;
    tcp_nodelay on;

    keepalive_timeout  0;
    client_max_body_size       5m;

    gzip on;
    gzip_http_version 1.0;
    gzip_min_length 1000;
    gzip_proxied any;
    gzip_types text/css text/xml application/x-javascript text/plain application/json;
    gzip_comp_level 5;


    upstream lakala-uwsgi {
        server localhost:3055;
    }

    upstream zzzt-uwsgi {
        server localhost:3066;
    }


    server {
        listen 80;
        server_name  51lkl.club www.51lkl.club;
        root /projects/lakala/lkl;

        location = / {
            rewrite ^/(.*)$ http://shop.51lkl.club/$1 redirect;
        }


        location /static {
            alias /projects/lakala/lkl/static;
            expires 1d;
        }

        location / {
            include     /etc/nginx/uwsgi_params;
            uwsgi_param SCRIPT_NAME "";
            client_max_body_size       4m;
            uwsgi_buffers 8 1m;
            uwsgi_buffer_size 1m;
            uwsgi_pass lakala-uwsgi;
        }

    }

    server {
        listen 80;
        server_name  zzzt.51lkl.club;
        root /projects/zzzt/lkl;


        location /static {
            alias /projects/zzzt/lkl/static;
            expires 1d;
        }

        location / {
            include     /etc/nginx/uwsgi_params;
            uwsgi_param SCRIPT_NAME "";
            client_max_body_size       4m;
            uwsgi_buffers 8 1m;
            uwsgi_buffer_size 1m;
            uwsgi_pass zzzt-uwsgi;
        }

    }

    server {
            listen       80;
            server_name  shop.51lkl.club;
            root   /projects/chengxuxia;
            index  index.php;

            location /static {
                alias /projects/chengxuxia/static;
                expires 1d;
            }

            location //data/uploads {
                alias /projects/chengxuxia/data/uploads;
                expires 1d;
            }

            location /data/uploads {
                alias /projects/chengxuxia/data/uploads;
                expires 1d;
            }

            location ~ .*\.(php|php5)?$
            {
                    fastcgi_pass  127.0.0.1:9000;
                    fastcgi_index index.php;
                    include /etc/nginx/fastcgi.conf;
            }

            location = / {
                root   /projects/chengxuxia/;
                index  index.php;
            }

            location / {

                if (!-e $request_filename) {
                    rewrite ^(.*)$ /index?s=/$1 last;
                }

                if ($host = 'shop.51lkl.club') {
                    rewrite ^/(.*)$ http://shop.51lkl.club/$1 permanent;
                }
            }



            access_log /var/log/nginx/chengxuxia.log;

    }

}