/*通用样式*/
body{background-color:#f2f2f2; color: #666666;}
a{color: #019fcc;}
span {color: #999999;}
.bd{margin-top: 40px; position: relative;}
.f10{font-size:1rem}
.f12{font-size:1.2rem}
.f12p{font-size:12px}
.f22p{font-size:30px}
.f18p{font-size:18px}
.f28p{font-size:28px}
.f36p{font-size:30px}
.f80p{font-size:60px;line-height:80px}
.p0{padding:0px}
.p15{padding:15px}
.pt30{padding-top: 30px;}
.pb30{padding-bottom:30px}
.mt40{margin-top:40px}
.mt0{margin-top:0}
.mt15{margin-top:15px}
.mb15{margin-bottom:15px}
.mb40{margin-bottom:40px}
.mb50{margin-bottom:50px}
.mr15{margin-right:15px}
.ml15{margin-left:15px}
.m15{ margin: 15px;}
.img100{width:100px;height:100px}
.img80{width:80px;height:80px}
.img60{width:60px;height:60px}
.img40{max-width:40px;width:40px;height:40px}
/*字体颜色*/
.fc-green { color: #1ecb5b;}
.fc-green2{ color: #27bf86;}
.fc-red {color: #ff0000;}
.fc-red2{color: #ff0000;}
.fc-gray{color: #ddd;}
.fc-orange { color: #ff7200;}
.fc-blue{color:#61abe9;}
.fc-blue2{color:#68bffc;}
.fc-white{color:#fff;}
.fc-black{color:#000000}
/*背景颜色*/
.bg-white{ background-color: #fff;}
.bg-blue{ background-color:#01a9da; color: #fff;}
.bg-red{ background-color:#ff0000; color: #fff;}
/**/
.lborder{border-left: 1px solid #00b6ea;}
.lborder-gray{border-left: 1px solid #d9d9d9;}
/*图片圆角*/
.img-circle {border-radius: 50%;margin-top: 5px;}
/*文本对齐浮动*/
.text-center{text-align:center}
.text-left{text-align:left}
.text-right{text-align:right}
.pull-left{position:absolute;left:10px;top:0}
.pull-right{position:absolute;right:10px;top:0}
/*补充新增*/
.weui-topbar{position:fixed;top:0;z-index:10;width:100%;height:40px;border-bottom:1px solid #efefef;background-color:rgba(255,255,255,1);line-height:40px}
.weui-topbar .weui-topbar-back{position:absolute;top:0;left:0;display:inline-block;padding:0 10px}
.weui-topbar .weui-topbar-more{position:absolute;top:0;right:0;display:inline-block;padding:0 10px}
.weui-topbar .weui-topbar-title{right:40px;left:40px;display:block;overflow:hidden;margin:auto;text-align:center;font-size:18px}
/**/
.tab_btngroup{border: 1px solid #01a9da; display:flex; margin:auto;line-height:24px; margin: 5px 60px 0px 80px;border-radius: 4px;}
.tab_btngroup a{ font-size: 12px; text-align: center; color: #999999; flex: 1; float: left;border-left: 1px solid #01a9da; padding:2px 0px;}
.tab_btngroup .active{background-color: #01a9da; color: #fff;}
.tab_btngroup a:first-child{border: 0px;}
/**/
footer{padding:10px;text-align:center;color:#999;margin:10px 0 0px 0;font-size:12px}
.weui_badge{ font-size: 10px;border-radius:12px; min-width: 12px; height: 12px; padding:3px ; text-align: center; line-height:15px;display:inline-block; vertical-align: middle; text-align: center; background-color: #ccc;}
.weui_badge_danger{ background-color: #ff0000; color: #fff;}
.weui_uploader_file{ position: relative;}
.weui_uploader_file .weui_uploader_filetitle{width:100%; overflow: hidden; background-color:rgba(0,0,0,0.8); text-align: center; color: #fff; bottom: 0px; font-size: 10px; position:absolute;}

/**/
.weui_grid4{width:25%}
/**/

/*替换原*/
.weui_btn_warn{background-color:#FF0000;}
.weui_cells{margin-top:10px;}
.weui_cell{padding: 15px;}
.workindex .weui_cell{padding:10px 15px;}
.workindex .weui_cell p{line-height: 1;}
.weui_tabbar{position:fixed; background-color:#FFf; min-height:40px ; z-index:99;}
.webui_tabbarctrl{ line-height: 40px;}
.weui_tabbar_item{padding-top:3px;}
.webui_tabbarctrl .weui_tabbar_item .weui_tabbar_label{font-size: 14px;}
.weui_tabbar .weui_tabbar_icon{text-align: center;}
.weui_tabbar .weui_tabbar_icon i{font-size: 22px;color: #888}
.weui_navbar{background-color: #fff;}
/*.weui_navbar:after{border-bottom:3px solid #019fcc}*/
.weui_tabbar_item.weui_bar_item_on .weui_tabbar_label,.weui_bar_item_on .weui_tabbar_icon i{color: #019fcc;}
.weui_navbar_item.weui_bar_item_on{background-color: #fff; border-bottom:3px solid #019fcc }
.weui_btn_primary{ background-color: #01a9da;}
.weui_grid_icon{width: auto; height: 30px; line-height: 1; text-align: center;}
.worklist_panel .weui_media_box.weui_media_appmsg .weui_media_hd,.mettinglist_panel .weui_media_box.weui_media_appmsg .weui_media_hd{line-height:normal;position: relative;}
.weui_media_name{display: block;width: 100%;font-size: 12px; margin-top: 5px; color: #666;}
.weui_progress_bar{height: 6px;position: relative;margin-bottom: 10px;border-radius: 4px;}
.weui_progress_inner_bar{position: absolute; top:0px;background-color:#ff0000;border-radius: 4px;}
.weui_progress_inner_bar_real{background-color:#019fcc;z-index: 2;border-radius: 4px;}
.worklist_panel .weui_media_title em,.mettinglist_panel .weui_media_title em{ margin-top: 5px;}
.weui-picker-container, .weui-picker-overlay,.weui-popup-container{background-color:rgba(0,0,0,0.5);z-index:999;height:100%; }
/**/
.weui-pull-to-refresh{position: relative;margin-top:0px;}
.weui-pull-to-refresh-layer{position:absolute;width:100%; z-index: 999;margin-top:-100px; text-align: center;}

.popup-bottom .weui-popup-modal{height:auto;}
.worklist_panel .morectrl{display:flex;}
.worklist_panel .morectrl  a{ padding: 0px 5px;margin-right: 10px; color: #999; font-size: 13px; line-height:1.2 ; border-left: 1px solid #e5e5e5; flex: 1; }
.worklist_panel .morectrl  a:first-child{border: 0px;}

.help_btn{padding: 0px;margin: 0px;}
.help_btn li{list-style: none;display:block;float: left; width: 33.3333%;}
.help_btn li a{display:block; color:#333333;}
.userenter_panel{margin-top: 0px;}
.userenter_panel .weui_media_hd{width:40px; height: 40px; line-height: 40px;}
.userenter_panel .number{ width: 30px; text-align: center;}
.userenter_panel .morectrl{display:flex;}
.userenter_panel .morectrl a{margin-right: 15px; color:#666666;font-size: 13px;}
.userenter_panel .morectrl .morectrl_fl{-webkit-box-flex:1;flex:1;-webkit-flex:1;}
.userenter_panel em{font-style: normal;}

/*用户中心*/
.usercenter{margin: 0px; }
.contact_info{}
.weui-ucenter{background-color: #01a9da; color: #fff; }
.weui-ucenter:before{border-top:0px;}
.weui-ucenter img{border: 3px solid #6CC8E2;}
.weui-ucenter span{color: #fff;}
.weui-ucenter .weui_media_box.weui_media_appmsg .weui_media_hd{width: auto; height: auto; line-height: normal;}
.usercenter-grids .weui_grid_label{ color: #666;}
/**/
.message-ico:before{content:"\e609"}
.medal_ico {width: 30px; height: 40px; display: block;margin: auto;background-size:cover;}
.medal_ico_golden{background-image: url(../images/medal_ico01.png);}
.medal_ico_sliver{background-image: url(../images/medal_ico02.png);}
.medal_ico_copper{background-image: url(../images/medal_ico03.png);}
/*考勤*/
.abnormal-data{position: absolute; right: -3px; top:-12px; }
.myself{background-color:#FFFCD7;color:#b97833;}
.myself .weui_media_box:before{ border-top:1px solid #dea747;}
.myself .weui_media_desc{color:#DCAD7B;}
.imglist_box{overflow: hidden;}
.imglist_box ul li{ float:left; width: 90px; height: auto;list-style: none;margin:0 9px 9px 0 }
.imglist_box ul li img{max-width: 80px; border: 1px solid #E5E5E5; padding: 5px;margin:3px ;}
.check_btn{  border: 10px solid #34bae1; vertical-align:middle; display: table-cell; text-align: center; padding: 10px;}
.select_date{position:relative; width:100%; height:100%;}
.select_date_btn{position:absolute; opacity: 0; top:0px;left:0px;width: 100%; height: 100%;z-index:1;}

/*审批工作流*/
.weui_workflow{ background-color:transparent;}
.weui_workflow:before,.weui_workflow:after{border: 0px;}
.weui_workflow .weui_cell{ padding: 5px;}
.weui_workflow .weui_cell:before{border: 0px;}
.weui_workflow .weui_cell_bd{background-color: #fff;padding: 10px 15px 10px 15px; border-radius: 8px; position: relative; border:1px solid #d9d9d9 ;}
.weui_workflow .weui_cell_hd{position: relative;}
.weui_workflow .weui_cell_bd:before{ border-top: 10px solid transparent;border-right: 10px solid #FFF;border-bottom: 10PX solid transparent;content:"";display:block;position:absolute;left:-10px;top:15px;}
.weui_workflow .weui_cell_hd:after{border-top: 10px solid transparent;border-right: 10px solid #d9d9d9;border-bottom: 10PX solid transparent;content:"";display:block;position:absolute;right:-15px;top:10px;}
/*底部菜单*/
.weui_bar_item_on .icon-gongzuo:before{content: "\e608";}
.weui_bar_item_on .icon-xiaoxi:before{content: "\e621";}
.weui_bar_item_on .icon-lianxiren:before{content: "\e64b";}
.weui_bar_item_on .icon-wode:before{content:"\e62c";}
/**/


/*
打卡页
*/
.currentMap{height:110px;width:100%;}
.currentMap_big{height:200px;width:100%;}
.weui_cells_address{margin-top:0;}
.text_overflow{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.weui_cells_radio .weui_check:checked+.weui_icon_checked.fc-blue:before{color:#01a9da;}
.weui_badge_success{background-color:#1bc397;color:#fff;}
.weui_badge_warning{background-color:#ff8100;color:#fff;}
.weui_badge_primary{background-color:#019fcc;color:#fff;}
.pt10{padding-top:10px;}
.smallRound{line-height:0;height:0;min-height:0;width:0;min-width:0;}
.weui_cells_checkbox .weui_check:checked+.weui_icon_checked:before {
    color: #1bc397;
}
.weui_switch:checked {
    border-color: #04be02;
    background-color: #1bc397;
}
.weui_cell_primary{overflow:hidden;}

.pbTable{text-align:center;clear:both;overflow:hidden;margin-bottom:30px;font-size:13px;}
.pbTable *{box-sizing:border-box;white-space:nowrap;}
.pbTable .tableHd{background:#f3f1f6;height:50px;}
.pbTable .th{width:70px;float:left;border:1px solid #dcdcdc;border-right:0;vertical-align:middle;font-weight:bold;line-height:20px;padding:5px 0;background:#f3f1f6;}
.pbTable .tName{line-height:50px;padding:0;border:1px solid #dcdcdc;border-right:0;background:#f3f1f6;}
.pbTable .tableHd .colName{width:12.5%;float:left;font-weight:bold;line-height:50px;border-bottom:1px solid #dcdcdc;}
.pbTable .tableHd .colClass{width:87.5%;float:left;}

.pbTable .tableBd {line-height:40px;}
.pbTable .tableBd .colName{width:12.5%;float:left;font-weight:bold;position:relative;padding-top:50px;}
.pbTable .tableBd .colName .td{width:100%;background:#fbfbfb;}
.pbTable .tableBd .colName .tName{background:#f3f1f6;position:fixed;width:12.5%;top:40px;}
.pbTable .tableBd .colClass{width:87.5%;float:left;overflow-x:scroll;height:100%;}
.pbTable .tableBd .allZhou{width:1300px;}
.pbTable .tableBd .zhou{position:relative;padding-top:50px;width:497px;}
.pbTable .tableBd .ths{position:absolute;left:0;top:0;width:100%;height:50px;}
.pbTable .tableBd .ths .th{height:52px;}
.pbTable .tableBd .tr{}
.pbTable .td{background:#fff;float:left;border-left:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;width:70px;}
.pbTable .tableBd .td a{display:block;height:40px;}
.pbTable .zhou{float:left;width:100%;}
.footBanciSm{position:fixed;bottom:0;left:0;right:0;background:#f3f1f6;height:30px;line-height:30px;padding:0 15px;}
.footBanciSm .sm{display:inline-block;margin-right:20px;width:100px;overflow:hidden;height:30px;vertical-align:middle;text-overflow:ellipsis;white-space:nowrap;}
.footBanciSm a{float:right;padding:0 10px;}
.pbTable .onchange{color:#ff0000;}
.weui_actionsheet_title {
    padding: 8px 0;
    text-align: center;
    font-size: 16px;
    color: #999;
    background-color: #f4f4f4;
    position: relative;
}
.f_right{float:right;}
.btn_blockGroup .weui_btn{display:block;}
